Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore

@VadimBerezyak
Ilnar30
/
demoqa-autotest
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
demoqa-autotest/.gitignore
@Ilnar30
Ilnar30 added autotest to https://demoqa.com/automation-practice-form
Latest commit d95b30f 4 days ago
 History
 1 contributor
42 lines (36 sloc)  407 Bytes

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Properties files
*.properties

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# Project gen files
.idea
.allure/
.gradle/
allure-results/
gradle/
build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
/gradlew
/gradlew.bat
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About